.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 16px 6px;
}

@keyframes bgp {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.logo-img {
  width: 30px;
  margin: 0;
}

.logo-text {
  padding-left: 12px;
  white-space: nowrap;
  margin-bottom: 0;
  text-align: center;
  line-height: 28px;
  font-size: 24px;
  list-style-type: none;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #0a98d2,
    #1ffdc4,
    #0a98d2,
    orange,
    #0a98d2,
    #1ffdc4,
    #0a98d2
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-size: 200% 100%;
  animation: bgp 8s infinite linear;
}
