.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
}

.logo-img {
  width: 30px;
}

.logo-name {
  font-size: 20px;
  font-weight: bold;
  color: #dadada;
  h1 {
    margin-bottom: 0;
    margin-left: 5px;
    white-space: nowrap;
  }
}
