.ant-modal-confirm-btns .ant-btn:not(:disabled):focus-visible {
  outline: 0;
}

.ant-modal .ant-modal-header {
  margin-bottom: 15px;
}

.add-auth-modal .ant-card-body {
  height: 300px;
  overflow-y: auto;
}
